* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  color: var(--text-color);
  background-color: var(--dark-bg-color);
}

input {
  font-family: var(--font-body);
}

input,
button {
  font-size: 1rem;
}

section {
  margin: var(--default-spacing) 0;
}

#root {
  header {
    width: 100%;
    height: var(--header-height);
    padding: var(--default-spacing);
    background-color: var(--light-bg-color);
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(auto, calc(var(--page-max-width)));
    position: fixed;
    bottom: 0;
    z-index: var(--z-above);

    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: var(--default-spacing);
      height: 100%;
    }

    a {
      color: var(--text-color);
      text-decoration: none;
      transition: color var(--quick);

      &:hover,
      &.active {
        color: var(--accent-color);
      }
    }
  }

  main {
    min-height: 100dvh;
    padding: var(--default-spacing);
    padding-bottom: calc(var(--header-height) + var(--default-spacing));

    display: grid;
    grid-template-columns: minmax(auto, calc(var(--page-max-width)));
    justify-content: center;
    align-items: center;
  }
}
